.row-header{
    margin:0px auto;
    padding:0px
}

.jumbotron{
    padding-top: 100px;
    background-color: #9575cd;
}

.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #512BA8;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512DAB;
}
.carousel-item{
    height: 500px;
}
.carousel-item img{
    min-height: 100%;
    max-width: 77%;
    margin: auto;
}
#carouselButton{
    width: auto;
    margin: auto;
    z-index: 1;
}